/* Use 
display grid
grid-template-columns
gird-column-start
*/

#container {
  display: grid;
  grid-template-columns: 10% auto 10%;
  background-color: lightblue;
}

#middle-column {
  padding-top: 10px;
  grid-column-start: 2;
  background-color: rosybrown;
  height: 1000px;
}
